.wrapper-company {
  position: relative;
  padding: 20px 0 0 0;
  background: url(../../../../../public/img/background/about-company.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.wrapper-company *:not(.blackwindow) {
  z-index: 5;
  position: relative;
}

.blackwindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #000;
  opacity: 0.7;
}

.wrapper-company h1 {
  margin: 0 auto;
  color: white;
}

.wrapper-company .content-company {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.wrapper-company .content-company .card-image img {
  max-width: 220px;
  height: auto;
  object-fit: cover;
}

.company .content-company .description-block {
  max-width: 800px;
}

.company .content-company .description-block p {
  color: white;
}

@media (max-width: 320px) {
  .wrapper-company .content-company {
    flex-direction: column;
  }
}
