.interactive-img {
  padding: 20px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  box-shadow: 0px 0px 60px 5px rgb(141 139 139);
  background-image: radial-gradient(#434343a3, #000000c9);
}

.canvas-wrapper {
  position: relative;
  height: 615px;
  overflow: auto;
}

.canvas-wrapper h2 {
  position: relative;
  margin: 30px auto;
  padding: 15px;
  max-width: 950px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 1.5vw; */
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-left: 3px solid red;
  background-color: rgba(0, 0, 0, 0.445);
  /* white-space: nowrap; */
}

.canvas-wrapper h2 span {
  display: inline-block;
  margin-left: 2%;
  padding: 1% 2%;
  border-radius: 5px;
  background: yellowgreen;
  cursor: pointer;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img-main {
  position: absolute;
  left: calc(50% - 750px / 2);
  z-index: 1;
  width: 750px;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 755px) {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img-main {
    left: 0;
  }
}

/* .img1-text:after {
  position: absolute;
  top: 50px;
  left: 50px;
  content: 'Лонжероны от 300 руб';
  opacity: 0;
  scale: 0;
  transition: 0.4s all;
  padding: 10px 20px;
  border-radius: 10px;
}

.img1-text:hover::after {
  content: 'Лонжероны от 300 руб';
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
  opacity: 1;
  scale: 1;
  background: rgba(5, 13, 156, 0.55);
  color: #fff;
  text-align: center;
  font-family: cursive;
  font-size: 16px;
  transition: 0.5s all;
} */

/* .img1-text::after {
  content: attr(data-title);
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 100;
  width: 250px;
  padding: 3px;
  font-size: 16px;
  font-weight: 600;
  background-color: aquamarine;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s all;
}

.img1-text:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 100;
  width: 250px;
  padding: 3px;
  font-size: 16px;
  font-weight: 600;
  background-color: aquamarine;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s all;
} */
