section.our-works {
  padding: 30px 0 30px 0;
  background: url(../../../../../public/img/shutterstock.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.example-works {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 8px #000000, 0 0 4px darkred, 0 0 4px #f2edf7, 0 0 4px #dbd2e3;
}

.react-player {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3%;
  row-gap: 20px;
}

.card-of-player {
  box-shadow: 0 0 4px 4px #261717;
  transition: all 0.2s;
  overflow: hidden;
}

.card-of-player:hover {
  box-shadow: 0 0 2px 2px #3d3939;
  transition: all 0.2s;
}

.react-player__preview {
  transition: all 0.2s;
}

.react-player__preview:hover {
  transition: all 0.2s;
  transform: scale(1.05);
  box-shadow: none;
}
