section.section-error-404 {
  min-height: 80vh;
  height: 100%;
  background-image: url(../../../public/img/banner-404.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  flex: 1;
}

.section-error-404 h1 {
  margin: 45px;
  margin-bottom: 20px;
  text-shadow: 2.82px 2.82px red, 4px 0 red, 2.82px -2.82px red, 0 -4px red, -2.82px -2.82px red, -4px 0 red,
    -2.82px 2.82px red, 0 4px red;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 98px;
  color: black;
}

.section-error-404 h2 {
  margin: 0;
  margin-top: 10px;
  /* max-width: 512px; */
  font-size: 48px;
  text-transform: uppercase;
}

.section-error-404 p {
  font-size: 24px;
  margin: 40px auto 10px;
}

.section-error-404 div.button-back {
  margin-top: 45px;
}

.section-error-404 div.button-back a {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  padding: 18px 20px;
  border: 2px solid red;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.section-error-404 div.button-back a:hover {
  background: red;
  transition: all 0.3s;
}

.section-error-404 div.button-back a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 0.6s;
}

.section-error-404 div.button-back a:hover::after {
  width: 100%;
}

@supports (-webkit-text-stroke: 1px black) {
  .section-error-404 h1 {
    -webkit-text-stroke: 4px #c53720;
    text-shadow: none;
  }
}
